# gitignore configuration
.git

# local development and security scan tools
.tmp
.gitleaks.toml

# jekyll build and cache files
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor

# local ruby version files
.ruby-version