<section class="cat__section lt" aria-labelledby="lt-title">
  <h2 id="lt-title" class="lt__title">Latest</h2>

  <ul class="lt__list">
    {% for post in include.posts limit: 5 %}
    <li class="lt__item">
      <a class="lt__link" href="{{ post.url | relative_url }}">
        <span class="lt__name">{{ post.title }} - </span>
        <time class="lt__date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d, %Y" }}</time>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>