<section class="cat__section arc" aria-labelledby="arc-title">
  <h2 id="arc-title" class="arc__title">Archive</h2>

  {% assign posts_by_year = include.posts | group_by_exp: "post", "post.date | date: '%Y'" %}
  <ul class="arc__year-list">
    {% for year_group in posts_by_year %}
    <li class="arc__year-item">
      <details class="arc__year-details">
        <summary class="arc__year-summary">
          <span class="arc__year">{{ year_group.name }} - </span>
          <span class="arc__count">{{ year_group.items | size }}</span>
        </summary>

        {% assign posts_by_month = year_group.items | group_by_exp: "post", "post.date | date: '%m'" %}
        <ul class="arc__month-list">
          {% for month_group in posts_by_month %}
          <li class="arc__month-item">
            <details class="arc__month-details">
              <summary class="arc__month-summary">
                <span class="arc__month">{{ month_group.items[0].date | date: "%b" }} - </span>
                <span class="arc__count">{{ month_group.items | size }}</span>
              </summary>

              <ul class="arc__post-list">
                {% for post in month_group.items %}
                <li class="arc__post-item">
                  <a class="arc__post-link" href="{{ post.url | relative_url }}">
                    <span class="arc__post-title">{{ post.title }} - </span>
                    <time class="arc__post-date" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %-d" }}</time>
                  </a>
                </li>
                {% endfor %}
              </ul>
            </details>
          </li>
          {% endfor %}
        </ul>
      </details>
    </li>
    {% endfor %}
  </ul>
</section>