<header class="header">
  <a class="nav__brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
</header>

<nav class="nav layout-container">

  <div class="nav__toggle">
    <a id="dropDownMenuOpen" role="button">Menu</a>
  </div>

  <div id="nav-collapse" class="nav__collapse">

    <ul class="nav__list">

      {% for tabs in site.tabs %}
      {% if tabs.page_type contains "tab" %}
      <li>
        <a class="nav__link" href="{{ tabs.url | relative_url }}">
          {{ tabs.title }}
        </a>
      </li>
      {% endif %}
      {% endfor %}

    </ul>

  </div>

</nav>