---
layout: page
---
<!-- about -->
<section>
  <h2>About</h2>
  <p>어째서 라아아아떼인가? 그것은 마아아앗있기 때문이다.</p>
  <a class="text-link" href="{{ '/lattegacha' | relative_url }}"> - 라떼 가챠 - </a>
</section>

<!-- recent -->
<section>
  <h2>Recent</h2>

  <ul class="unstyled-list">
    {% for post in site.posts limit:5 %}
    <li class="post-list__item">
      <a class="text-link" href="{{ post.url | relative_url }}">
        <span>{{ post.title }}</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>

<!-- archive -->
<section>
  <h2>Archive</h2>

  <ul class="unstyled-list">
    {% assign sorted_category = site.category | sort: "title" %}

    {% for category_page in sorted_category %}
    {% assign posts_in_category = site.categories[category_page.category_key] | default: empty %}
    {% assign post_count = posts_in_category | size %}

    {% if post_count > 0 %}
    <li class="post-list__item">
      <a class="text-link" href="{{ category_page.url | relative_url }}">
        <span>{{ category_page.title }}</span>
        <span class="text-link__meta">({{ post_count }})</span>
      </a>
    </li>
    {% endif %}

    {% endfor %}
  </ul>
</section>