---
layout: page
---
<!-- about -->
<div class="about" aria-labelledby="about-ko-title">
  <h2 id="about-ko-title" class="about__title">About</h2>
  <p class="about__text">어째서 라아아아떼인가? 그것은 마아아앗있기 때문이다.</p>
</div>

<a class="archive__link" href="{{ '/lattegacha' | relative_url }}">- 라떼 가챠 -</a>

<!-- archive -->
<div class="archive" aria-labelledby="archive-title">
  <h2 id="archive-title" class="archive__title">Archive</h2>

  <ul class="archive__list">
    {% assign sorted_category = site.category | sort: "title" %}

    {% for category_page in sorted_category %}
    {% assign posts_in_category = site.categories[category_page.category_key] | default: empty %}
    {% assign post_count = posts_in_category | size %}

      {% if post_count > 0 %}
      <li class="archive__item">
        <a class="archive__link" href="{{ category_page.url | relative_url }}">
          <span class="archive__name">{{ category_page.title }}</span>
          <span class="archive__count">({{ post_count }})</span>
        </a>
      </li>
      {% endif %}
      
    {% endfor %}
  </ul>
</div>