/* basic style for about, tech-stack, and license sections */
.about,
.tech-stack,
.license {
  margin: 1rem 0;
  padding: 1rem;
  text-align: left;
}

/* style for headings */
.about__title,
.tech-stack__title,
.license__title {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  text-align: left;
}

/* style for text content */
.about__text,
.tech-stack__text,
.license__text {
  font-size: 1rem;
  text-align: left;
}

/* style for tech stack list */
.tech-stack__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* style for each tech stack item with a dash (-) */
.tech-stack__item {
  padding: 0.5rem 0;
}

.tech-stack__item::before {
  content: "- ";
}