@charset "utf-8";

/* light mode color palette */
:root {
  --color-bg: #f7f7f5;
  --color-text: #2c2c2c;
  --color-link: #6f93bd;
  --header-line: #8d8d90;
  --footer-text: #aaaab0;
  --footer-line: #c9c9cc;
  /* mode button */
  --mode-btn-light: #efefec;
  --mode-btn-dark: #1a1c1f;
}

/* dark mode color palette */
[data-theme="dark"] {
  --color-bg: #16181a;
  --color-text: #e2e2de;
  --color-link: #8aaedf;
  --header-line: #2f3236;
  --footer-text: #9fa1a6;
  --footer-line: #272a2e;
}